
@{
    ViewBag.Title = "ManHinh_Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="dsMenu">
    <div class="dsMenu_list">
        <div class="item_menu">
            <div><img src="~/images/drink/trasua.png"></div>
            <p>Trà sữa</p>
        </div>
        <div class="item_menu">
            <div><img src="~/images/drink/trasua.png"></div>
            <p>Trà sữa</p>
        </div>
        <div class="item_menu">
            <div><img src="~/images/drink/trasua.png"></div>
            <p>Trà sữa</p>
        </div>
        <div class="item_menu">
            <div><img src="~/images/drink/trasua.png"></div>
            <p>Trà sữa</p>
        </div>
        <div class="item_menu">
            <div><img src="~/images/drink/trasua.png"></div>
            <p>Trà sữa</p>
        </div>
        <div class="item_menu">
            <div><img src="~/images/drink/trasua.png"></div>
            <p>Trà sữa</p>
        </div>
        <div class="item_menu">
            <div><img src="~/images/drink/trasua.png"></div>
            <p>Trà sữa</p>
        </div>
        <div class="item_menu">
            <div><img src="~/images/drink/trasua.png"></div>
            <p>Trà sữa</p>
        </div>
    </div>
</section>
<section class="monAnOrderNhieu">
    <h2>Các món ăn ưa thích</h2>
    <div class="list_monAn">
        <div class="item_monAn">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenMonAn"> Trà sữa</p>
            <p class="giaMonAn">25 000 VNĐ</p>
        </div>
        <div class="item_monAn">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenMonAn"> Trà sữa</p>
            <p class="giaMonAn">25 000 VNĐ</p>
        </div>
        <div class="item_monAn">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenMonAn"> Trà sữa</p>
            <p class="giaMonAn">25 000 VNĐ</p>
        </div>
        <div class="item_monAn">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenMonAn"> Trà sữa</p>
            <p class="giaMonAn">25 000 VNĐ</p>
        </div>
        <div class="item_monAn">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenMonAn"> Trà sữa</p>
            <p class="giaMonAn">25 000 VNĐ</p>
        </div>
        <div class="item_monAn">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenMonAn"> Trà sữa</p>
            <p class="giaMonAn">25 000 VNĐ</p>
        </div>

    </div>
</section>
<section class="ThucUongOrderNhieu">
    <h2>Các thức uống ưa thích</h2>
    <div class="list_ThucUong">
        <div class="item_ThucUong">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenThucUong"> Trà sữa</p>
            <p class="giaThucUong">25 000 VNĐ</p>
        </div>
        <div class="item_ThucUong">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenThucUong"> Trà sữa</p>
            <p class="giaThucUong">25 000 VNĐ</p>
        </div>
        <div class="item_ThucUong">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenThucUong"> Trà sữa</p>
            <p class="giaThucUong">25 000 VNĐ</p>
        </div>
        <div class="item_ThucUong">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenThucUong"> Trà sữa</p>
            <p class="giaThucUong">25 000 VNĐ</p>
        </div>
        <div class="item_ThucUong">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenThucUong"> Trà sữa</p>
            <p class="giaThucUong">25 000 VNĐ</p>
        </div>
        <div class="item_ThucUong">
            <div><img src="~/images/drink/trasua.png"></div>
            <p class="tenThucUong"> Trà sữa</p>
            <p class="giaThucUong">25 000 VNĐ</p>
        </div>

    </div>
</section>

